fastapi==0.112.2
fastapi-cli==0.0.5
ollama==0.3.2
pydantic==2.8.2
groq==0.10.0
pytest==8.3.2
httpx==0.27.2
requests==2.32.3
pytest-rerunfailures==14.0
weave==0.50.15
python-dotenv==1.0.1
PyYAML==6.0.2
pandas==2.2.2